@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  height: 2.6rem;
  padding: 0 0.5rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: inherit;
  border: 1px solid #ddd;
  outline: none;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
  color: #ddd;
}

input[type='text']:focus::placeholder,
input[type='email']:focus::placeholder,
input[type='password']:focus::placeholder {
  opacity: 0;
}

input[type='text']:read-only,
input[type='text']:disabled,
input[type='email']:read-only,
input[type='email']:disabled,
input[type='password']:read-only,
input[type='password']:disabled {
  background-color: #eee;
}

textarea {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: inherit;
}